h2 {
    margin: 0;
}

.services {
    border: 3px solid black;
    height: 300px;

    display: grid;
    grid-template-columns: repeat(2, 30%);

    /* Justify Content */
    /* justify-content: space-evenly; */

    /* Align Items */
    /* align-items: center; */
    align-items: flex-end;
}

.service {
    color: white;
    text-align: center;
}

.service-1 {
    background-color: darkviolet;
}

.service-2 {
    background-color: limegreen;
}

.service-3 {
    background-color: teal;
}