body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
}

img {
    width: 100%;
}

.container {
    height: 100vh;
    width: 900px;
    margin: 0 auto;

    display: grid;
    grid: 100px auto 100px / repeat(4, 1fr);
    grid-template-areas:
        "header header header header"
        "main main main sidebar"
        "footer footer footer footer";
    grid-gap: 1rem;
}

.header {
    background-color: coral;
    color: white;
    text-align: center;

    grid-area: header;
}

.main-content {
    background-color: darkred;

    grid-area: main;
}

.sidebar {
    background-color: olive;

    grid-area: sidebar;
}

.footer {
    background-color: navy;

    grid-area: footer;
}



.media-container {
    margin: 0 auto;
    max-width: 800px;

    display: grid;
    grid-template-areas:
        "title title title title"
        "image desc desc desc";
    grid-gap: 1rem;
}


.site-title {
    grid-area: title;
}

.image {
    grid-area: image;
}

.description {
    grid-area: desc;
}

.tagline {}

.info {}

.entry {}